<%- include('partials/header') -%>

<main>
  <div>
    <section>
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
          <div><%= el.msg %></div>
        <% }) %>
      <% } else if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
          <div><%= el.msg %></div>
        <% }) %>
      <% } else if (locals.messages.success) { %>
        <% messages.success.forEach( el => { %>
          <div><%= el.msg %></div>
        <% }) %>
      <% } %>

      <form action="/login" method="POST">
        <div>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
        </div>
        <div>
          <label for="exampleInputPassword1">Password</label>
          <input type="password" id="exampleInputPassword1" name="password"/>
        </div>
        <button type="submit">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
